<div class="comment-<%= comment.id %> container" style="border: 0.1px solid grey; padding: 1em; margin: 1em; border-radius: 15px;">
  <%= comment.user.full_name %>
  <% if (comment.updated_at - comment.created_at) > 1 %>
    <span> edited <%= time_ago_in_words(comment.updated_at) %> ago. </span>
  <% else %>
    <span> posted <%= time_ago_in_words(comment.created_at) %> ago.</span>
  <% end %>
  <% if current_user == comment.user || current_user.admin? %>
    <div class="btn-group float-end">
      <%= link_to "Edit", nil, remote: true, class: "btn btn-light",
      data: {
        controller: "comments",
        action: "comments#changeForm",
        comments_form_param: "edit-form-#{comment.id}",
        comments_body_param: "comment-body-#{comment.id}"
      } %>
      <%= button_to "Delete", [post, comment], class: "btn btn-dark", method: :delete %> 
    </div>
    <div id="edit-form-<%= comment.id %>" class="d-none">
      <%= render 'comments/form', post: @post, comment: comment, label_for_submit: "Update" %>
    </div>
  <% end %>
  <hr />
  <div id="comment-body-<%= comment.id %>">
    <%= comment.body %>
  </div>
</div>