<%= form_with(model: [project, task]) do |f|%>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-control">
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :description %>
    <%= f.rich_text_area :description %>
    <%= f.label :status %>
    <%= f.select :status, Task::STATUS_OPTIONS %>
    <%= f.submit label_for_submit, class: "btn btn-dark mt-1"%>
  </div>
<% end %>