<div id="<%= dom_id project %>">
  <div class="container">
    <div>
    <span class="badge rounded-pill bg-<%= project.badge_color %>"><%= project.status %></span>
    </div>
    <h2><%= project.name %></h2>
    <div>
      <h5>Project address: <%= project.address %></h5>
    </div>
    <div>
      <h6>Project deadline: <%= project.deadline.strftime("%d/%m/%Y") %></h6>
    </div>
    <p> Project manager: <%= project.user.full_name %></p>
    <div>
      <p><%= project.description %></p>
    </div>
</div>
