<div class="container">
    <%= render @project %>
  <%= link_to "Edit this project", edit_project_path(@project), class: "btn btn-light btn btn-outline-dark mb-2 ms-3" if current_user == @project.user %> 
  <%= link_to "Back to projects", projects_path, class: "btn btn-light btn btn-outline-dark mb-2" if current_user == @project.user %>

  <%= button_to "Destroy this project", @project, method: :delete, class: "btn btn-dark ms-3" %>
  
  <div><h4> Adding Products </h4> </div>
  <%= form_with(model: Orderable.new, url: project_orderables_path(@project)) do |f| %>
    <%= f.hidden_field :project_id, value: @project.id %>
    <%= f.select :product_id, Product.where.not(id: Product.includes(:orderables).where(orderables: { project_id: [@project.id] }).ids).collect{ |p| [p.name, p.id] } %>
    <%= f.number_field :quantity, value: 0, min: 1 %>
    <%= f.submit %>
  <% end %>

  <hr />
  <h4> Project Products: </h4>
  <%= render partial: 'projects/orderable', collection: @project.orderables, locals: { project: @project } %>

</div>

<hr/>

<div class="container">
  <h4> Additional Tasks </h4>
  <div id="options" data-controller="visibility">
    <button class="btn btn-dark" data-action="visibility#toggleTargets">New Task</button>
    <div data-visibility-target="hideable" hidden><%= render 'tasks/form', project: @project, task: Task.new(project: @project), label_for_submit: "Create" %></div>
  </div>
  <% @tasks.each do |task| %>
    <%= render 'tasks/task', project: @project, task: task %>
    <%# byebug %>
  <% end %>
</div>
