
<%= render @post %>

<div>
  <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-light" if current_user == @post.user %> |
  <%= link_to "Back to posts", posts_path, class: "btn btn-light" %>

  <%= button_to "Destroy this post", @post, method: :delete, class: "btn btn-dark" if current_user == @post.user  %>
</div>

<div class="container">
  <div id="options" data-controller="visibility">
    <button data-action="visibility#toggleTargets" class="btn btn-dark">New Comment</button>
    <div data-visibility-target="hideable" hidden><%= render 'comments/form', post: @post, comment: @post.comments.build, label_for_submit: "Reply" %></div>
  </div>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>
