<%= form_with(model: [category, product]) do |f| %>
  <div class="form-control">
      <div>
        <%= f.label :model, style: "display: block" %>
        <%= f.text_field :model %>
      </div>
      <div>
        <%= f.label :name, style: "display: block" %>
        <%= f.text_field :name %>
      </div>
      <div>
        <%= f.label :manufacturer, style: "display: block" %>
        <%= f.text_field :manufacturer %>
      </div>

      <div>
        <%= f.label :description, style: "display: block" %>
        <%= f.text_area :description %>
      </div>

      <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>

      <div>
        <%= f.label :price %>
        <%= f.number_field :price, step: 0.01 %>
      </div>

      <div>
        <%= f.fields_for :stock_item do |sf| %>
          <%= sf.label :quantity_available %>
          <%= sf.number_field :quantity_available %>
        <% end %>
      </div>

      <div>
        <%= f.submit %>
      </div>

  </div>
<% end %>