<div class="product-<%= product.id %> container mt-4 mb-4">
  
  <div id="product-name-<%= product.id %>">
    <h5>Product model: <%= product.model %></h5>
  </div>
  
  <div id="task-description-<%= product.id %>">
    <h5>Description: <%= product.description %></h5>
  </div>
  
</div>